.body {
  background-color: #EDEEEE;
}

.footer {
  padding: 32px 0 8px 0;
  font-size: 12px;
}
.footer2 {
  padding: 8px 0 32px 0;
  font-size: 12px;
}
.footer3 {
  padding: 0 28px;
  font-size: 10px;
  }
.footer3 p {
  color: #cccccc;
}

.logo {
  padding: 16px;
  text-align: center;
  background-color: #ffffff;
}

.logo img {
  width: 269px;
}

.content {
  background-color: #ffffff;
  padding: 0 0 16px 0;
}

.preheader {
  font-size: 12px;
  text-align: center;
  padding: 8px 0;
}

@media screen and (max-width: 400px) {
  .hide {
    display: none !important;
  }
}

.h2 {
  font-size: 18px;
  font-weight: bold;
}

.social td {
  padding: 0 16px;
}

.social img {
  width: 32px;
  height: 32px;
}

.social {
  padding: 16px 0;
}

.menu {
  padding: 12px 0;
}

.menu a {
  font-size: 12px;
  text-decoration: none;
  color: #000000;
}

.menu a.highlight {
  color: #FF6900;
}

.menu td {
  padding-left: 16px;
  padding-right: 16px;
}

.items {
  background-color: #ffffff;
  padding: 16px 0;
}

.items img {
  width: 200px;
  height: auto;
  max-width: 100%;
}

.itemImage {
  padding: 0 0 16px 0;
}

.itemTitle {
  font-size: 18px;
  font-weight: bold;
  padding: 0 0 8px 10px;
  height: 70px;
  vertical-align: top;
}

.itemTitle a {
  color: #000000;
}

.itemBrand {
  padding: 0 0 8px 10px;
}

.priceNew {
  font-size: 18px;
  color: #E01010;
  padding: 0 0 0 10px;
}

.product-list-price .priceNew {
  color: #23AC5A;
  font-size: 14px;
  white-space: nowrap;
}

.priceOld {
  text-decoration: line-through;
  color: #878787;
  font-size: 12px;
  line-height: 12px;
  padding: 0 0 0 10px;
}

.itemButton {
  padding: 16px 0 32px 0;
}

.product-table{
background: #ffffff;
border-top: 2px solid #EDEEEE;
border-bottom: 2px solid #EDEEEE;
}

.product-list-img img {
width: auto;
height: auto;
max-width: 50px;
max-height: 50px;
}

.product-list-img{
width: 114px;
padding: 16px 16px;
text-align: center;
}
.product-list-name{
text-align: left;
width: 50%;
padding: 16px 8px 0 0;
vertical-align: top;
}
.product-list-qty{
text-align: center;
width: 5%;
padding: 16px 8px 0 0;
vertical-align: top;
}
.product-number{
  text-align: center;
  width: 5%;
  padding: 16px 8px 0 0;
  vertical-align: top;
}
.product-list-price{
text-align: right;
width: 26%;
padding: 16px 0 0 16px;
vertical-align: top;
}
.product-list-sum{
text-align: right;
font-weight: bold;
font-size: 14px;
padding: 16px 0 16px 0;
}
.alert{
  border-left: 5px solid #4F4AC0;
}
.button {
  padding: 0 0 16px 0;
}
