.body {
  background-color: #EDEEEE;
}

.footer {
  padding: 16px 0;
}

.logo {
  padding: 16px;
  text-align: center;
  background-color: #ffffff;
}

.logo img {
  width: 269px;
}

.content {
  background-color: #ffffff;
  padding: 16px 0;
}

.preheader {
  font-size: 12px;
  text-align: center;
  padding: 8px 0;
}

@media screen and (max-width: 400px) {
  .hide {
    display: none !important;
  }
}

.h2 {
  font-size: 18px;
  font-weight: bold;
}

.social td {
  padding: 0 16px;
}

.social img {
  width: 32px;
  height: 32px;
}

.social {
  padding: 16px 0;
}

.menu {
  padding: 16px 0;
}

.menu a {
  font-size: 12px;
  text-decoration: none;
  color: #000000;
}

.menu a.highlight {
  color: #FF6900;
}

.menu td {
  padding-left: 16px;
  padding-right: 16px;
}

.items {
  background-color: #ffffff;
  padding: 16px 0;
}

.items img {
  width: 200px;
  height: auto;
  max-width: 100%;
}

.itemImage {
  padding: 0 0 16px 0;
}

.itemTitle {
  font-size: 18px;
  font-weight: bold;
  padding: 0 0 8px 0;
}

.itemTitle a {
  color: #000000;
}

.itemBrand {
  padding: 0 0 8px 0;
}

.priceNew {
  font-size: 18px;
  color: #E01010;
}

.priceOld {
  text-decoration: line-through;
  color: #878787;
  font-size: 12px;
  line-height: 12px;
}

.itemButton {
  padding: 16px 0 32px 0;
}

.product-table{
background: #ffffff;
border-top: 1px solid #EDEEEE;
border-bottom: 1px solid #EDEEEE;
}
.product-list{
font-size: 12px;
padding: 8px 0;
}
.product-list-img{
width: 100%;
max-width: 50px;
max-height: 50px;
padding: 8px 16px 8px 0;
text-align: center;
}
.product-list-img img {
max-width: 50px;
max-height: 50px;
}
.product-list-name{
text-align: left;
width: 70%;
padding: 0 16px 0 0;
}
.product-list-qty{
text-align: center;
width: 10%;
padding: 0 16px;
}
.product-list-price{
text-align: right;
width: 20%;
padding: 0 0 0 16px;
}
.product-list-sum{
text-align: right;
font-weight: bold;
padding: 16px 0;
}
